* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #7303c0 30%,
        #ec38bc 70%,
        #fdeff9 100%
    );
    padding: 40px 60px;
    border-radius: 0.25rem;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu h2,
.container > h2 {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.game {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 430px;
    height: 430px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3rem;
    transform: rotateY(180deg);
    transition: all 0.25s;
    border-radius: 0.25rem;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #404040;
    transition: all 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 0.25rem;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

.reset {
    width: 100%;
    padding: 1rem 1.25rem;
    color: #000;
    background-color: #fff;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.25rem;
}

.reset:focus {
    color: #ec38bc;
    background-color: #262809;
}
